<h2>About Me</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>My name is <span class="name">Houngking Hsi</span> and<br />I'm a Software Architect</h3>
<p>
    <img id="avatar" alt="avatar" class="tt" data-toggle="tooltip" data-placement="top" title="indeex" width="128" height="128" src="/assets/img/slashsBin.png" />
    我是一个 {{ site.time | date: "%Y" | minus: 1992 }} 岁的软件工程师、构架师、WEB前端工程师和游戏开发工程师,我喜欢漂亮简洁的代码 <code>code</code> 风格,习惯遵守一定的 <code>代码规范</code> 和 <code>共享源码</code> 的习惯.我比较注重 
    软件工程方面的安全工作和安全开发问题.我目前专注于企业级教育和游戏（手机游戏、网页游戏、VR、AR等）行业,但我更喜欢 <code>虚拟现实</code> 技术并能在所有平台上运行的应用程序.作为一名软件工程师, 目前
    我使用 <code>HTML5</code> 最新标准、 <code>CSS</code> 最新标准 <code>Javascript</code> 最新技术和 <code>Adobe AIR</code> 解决方案作为软件工程开发平台（Javascript 2016将完全取代Flash技术）.  
    在我空闲的时间,我会尝试 <code>goLang</code> 和 <code>swift</code> 以及 <code>Unity</code> 这会 
    让我兴奋, O(∩_∩)O哈哈~ 我是一个开朗快乐的人, 我喜欢玩 <code>游戏</code> 或者写点 <code><a href="http://www.indeex.org" style="color:#ffffff;text-decoration:underline;">故事</a></code> 或者 <code>旅行</code>, 或者安静的 <code>绘画</code> ,偶尔也会做点<code>量子学</code>方面的研究.我是一个充满精力和 <code>使人欢乐</code> 的朋友.
</p>
