<h2><span class="name">Houngking Hsi's</span> R&eacute;sum&eacute;</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3 id="summary">Background Summary</h3>
<ul>
    <li><code>{{ site.time | date: "%Y" | minus: 2012 }}+</code> 的工作经验，擅长基于 视觉效果 的企业应用，程序架构师、软件工程师、Web前端工程师、游戏开发工程师。</li>
    <li>设计并实现了基于特定基础功能的 泛教育应用软件框架。</li>
    <li>带领团队开发了几个拥有完整软件生命周期的项目</li>
</ul>

<h4 id="valuez">Influences &amp; Values</h4>
<ul>
    <li>诚实、礼貌、团结、有信。</li>
    <li>一个会坚定自己原则的人。</li>
    <li>一个追求完美的人。</li>
    <li>通常能灵活解决低水平的问题，保持且专注于高层次的需求。</li>
    <li>教学是学习的最好方式。</li>
</ul>

<h3 id="experiences">Professional Experiences</h3>
<ul>
    <li>flash 动漫设计制作 &#64;<a href="http://www.haust.edu.cn/">河南科技大学</a>
        <ul>
            <li>在校时间: September <code>2011</code> &#10230; 大学在校生</li>
        </ul>
    </li>
    <li>flash 程序开发 &#64;<a href="http://www.hbdh.net/">北京黑白风格动画</a>
        <ul>
            <li>Duration: October <code>2012</code> &#10230; <code>2013</code> in Beijing</li>
        </ul>
    </li>
    <li>Software develop &#64;<a href="http://www.zhumei.net/">杭州筑美信息科技有限公司</a>
        <ul>
            <li>Duration: April <code>2013</code> &#10230; <code>2014</code> in Hangzhou</li>
            <li>描述:
                <ul>
                    <li>开发:
                        <ul>
                            <li>flash 开发, <code>HTML | air | sql | art | ActionScript</code></li>
                        </ul>
                    </li>
                    <li>教学:
                        <ul>
                            <li>领导新手, flash | air | HTML | Unity</code></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>移动应用工程师 &#64;<a href="http://www.8dworld.com/">上海八方视界网络科技有限公司</a>
        <ul>
            <li>开发:
                <ul>
                    <li>Duration: October <code>2014</code> &#10230; <code>2015</code> in Shanghai</li>
                    <li>描述:
                        <ul>
                            <li>设计 &amp; 设计和开发 移动 应用程序平台的服务应用程序 : 主要是基于flash的官方移动端解决方案 <code>AIR</code></li>
                            <li><a href="http://www.kutingshuo.com/">酷听说</a></li>
                            <li><a href="http://beijing.kutingshuo.com/">酷听说</a>及其他版本</li>
                            <li><a href="http://app.nse.cn/">掌上新标准</a></li>
                            <li><a href="http://app.nse.cn/">掌上新标准</a>及其他版本</li>
                            <li><a href="http://www.wodexuexiao.com/">我的学校</a></li>
                            <li><a href="">其他教育软件、课件</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>online game develop &#64;<a href="http://www.boyojoy.com/">Shanghai Boyojoy Network Technology Co., Ltd</a>
        <ul>
            <li>Duration: May <code>2015</code> &#10230; Present in Shanghai</li>
            <li>描述:
                <ul>
                    <li>网页游戏开发:
                        <ul>
                            <li>flash 网页游戏开发, <code>air | sql | art | ActionScript</code></li>
                            <li><a href="http://www.callofgods.com/">Call of Gods</a></li>
                            <li><a href="http://www.callofgods.gr/">Call of Gods</a> for GR 及希腊、日本、俄罗斯等其他版本</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<li>HTML5 develop &#64;<a href="www.svvt.net/">Henan svvt of Software Technology Co., Ltd.</a>
        <ul>
            <li>Duration: October <code>2015</code> &#10230; Present in Zhengzhou</li>
            <li>描述:
                <ul>
                    <li>HTML5:
                        <ul>
                            <li>HTML5 网页开发, <code>HTML5 | CSS3 | Javascript | Flash</code></li>
                            <li><a href="http://3qdou.com/">云汇平台</a></li>
                            <li><a href="http://3qdou.com/">云汇平台</a>客户端</li>
                            <li><a href="http://yh.3qdou.com/weixin/">微信云汇阅读器</a></li>
                            <li><a href="">图书馆数据库</a></li>
                            <li><a href="http://yh.3qdou.net/">图书网站</a> 等全国其他图书网站</li>
                            <li><a href="">网站后台管理</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>

<h3 id="tags">Technologies Tags Cloud</h3>
<ul class="cloud">
    <li><code>HTML5</code></li>
    <li><code>CSS3</code></li>
    <li><code>Javascript</code></li>
    <li><code>JQuery</code></li>
    <li><code>VR</code></li>
    <li><code>Flash</code></li>
    <li><code>Adobe AIR</code></li>
    <li><code>maya</code></li>
    <li><code>GoLang</code></li>
    <li><code>SQL</code></li>
    <li><code>Unity</code></li>
    <li><code>Adobe Photoshop</code></li>
    <li><code>Adobe Animate</code></li>
    <li><code>Adobe AI</code></li>
    <li><code>Adobe XD</code></li>
</ul>

<h3 id="edu">Education</h3>
<ul>
    <li>Computer Science,  <a href="http://www.haust.edu.cn/" class="tt" data-toggle="tooltip" data-placement="top" title="H.U.S.T">Henan University of Science and Technology</a>, <code>2011</code> &#10230; Present</li>
    <li><del>开发, 杭州, <a href="http://www.adobe.com/" class="tt" data-toggle="tooltip" data-placement="top" title="A.D.O.B.E">adobe</a>, <code>2013</code> &#10230; <code>Present</code> left</del></li>
</ul>
