<h2>Projects</h2>
<div class="row companion"><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div><div class="col-xs-2"></div></div>

<h3>Highlighted Used Projects</h3>
<ul>
    <li><a href="">HTML5</a> : 最新HTML5标准 <a href="http://www.w3.org/">W3C</a>, <code>WEB</code></li>
    <li><a href="">Javascript</a> : 最新Javascript技术 <a href="http://www.javascript.com/">javascript</a>, <code>Programming</code></li>
    <li><a href="">Flash</a>: Adobe AIR for <a href="http://www.adobe.com">ADOBE</a>, <code>Flash</code></li>
    <li><del>虚拟现实 : Unity &amp; 维基百科 <a href="https://en.wikipedia.org/wiki/Unity_(game_engine)">VR, Virtual Reality</a>, <code>Javascript</code></del></li>
    <li><del>量子力学 : Physics &amp; 维基百科 <a href="https://en.wikipedia.org/wiki/Quantum_mechanics">量子学, Quantum mechanics</a>, <code>Science</code></del></li>
    <li><del>量子化学 : Chemistry &amp; 维基百科 <a href="https://en.wikipedia.org/wiki/Quantum_chemistry">量子学, Quantum chemistry</a>, <code>Science</code></del></li>
    <li><del><a href="https://indeex.ml/houngking" target="_blank">3DMax</a> : 基于模型建造, <code>空间 | 模型</code></del></li>
    <li><del>动画 : MAYA &amp; 维基百科 <a href="http://en.wikipedia.org/wiki/Autodesk">建模, 虚拟</a>, <code>MAYA</code></del></li>
</ul>

<a href="http://www.houngking.cc/list/" target="indeex">具体项目信息</a>
